body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1 {
    font-size: 56px;
    margin: 56px 0px 20px 0px;
<<<<<<< HEAD
    font-weight: 400;
=======
>>>>>>> 93d755d29ffe865292f30b057dbd3b2ee7ee1b0f
}

h2 {
    font-size: 40px;
    margin: 40px 0px 12px 0px;
}

p {
    font-size: 16px;
    margin: 16px 0px 8px 0px;
}

<<<<<<< HEAD
a {
    color: white;
}

.button a {
    text-decoration: none;

}

.hero {
    display: block;
=======
.hero {
    position: relative;
>>>>>>> 93d755d29ffe865292f30b057dbd3b2ee7ee1b0f
    background: linear-gradient(286.83deg, #0ABEEB -1.55%, #0F26F7 100%);
    height: 50vh;
    color: white;
    padding: 2em;
<<<<<<< HEAD
=======
}

.hero h1 {
>>>>>>> 93d755d29ffe865292f30b057dbd3b2ee7ee1b0f
    text-align: center;
}


